.footer {
  background-color: var(--color-primary-dark-2);
  padding: 5rem;
  margin-top: 20rem;

  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }

  &__author {
    text-align: center;
    margin-top: 8rem;
    color: var(--color-primary-light-4);
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__link {
    text-decoration: none;
    color: var(--color-primary-light-4);
    margin: 0 auto;
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem 2rem;
    transition: all 0.5s;

    &:hover {
      background-color: var(--color-primary);
      transform: translateY(-10%);
    }
  }
}
